body{
  background-color: black;
  margin: 0;
  width: 100%;
  height: 80vh;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

div{
  width: 100%;
}
.div_title{
  background-color: #D7EEFF;
  height: 5vh;
}
.div_description{
  background-color: #D9E5FF;
  height: 5vh;
}
.div_body1{
  height: 15vh;
}
.div_main{
  background-color: #660033;
  height: 20vh;
  display: flex;
  justify-content: center;
}
.div_result {
  border: 2px solid black;
  margin-top: 2vh;
  height: 65%;
  aspect-ratio: 1/1;  /* 幅:高さ=1:1 */
}
.div_sub{
  background-color: #660033;
  height: 10vh;
  display: flex;
  justify-content: left;
}
.div_lamp {
  border-radius: 3vh;
  background-color: black;
  height: 10vh;
  width: 10vh;
}
.div_button {
  border-top: 5px solid #cccccc;
  border-bottom: 5px solid #cccccc;
  background-color: black;
  height: 10vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.div_body2{
  height: 18vh;
}

img{
  width: 100%;
  height: 100%;
}

.button_push{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50px;
  border: 1px solid #1d1d1d;
  background-color: #fff;
  font-weight: bold;
  /* transition: transform .05s; */
}

.button_push.pressed {
  transform: scale(0.8);
}
