body{
  background-color: black;
  margin: 0;
  width: 100%;
  height: 80vh;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

div{
  width: 100%;
}
.div_title{
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
  height: 6vh;
}
.div_description{
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
  height: 6vh;
}
.div_body1{
  height: 15vh;
}
.div_main{
  background-color: #cc0000;
  height: 20vh;
  display: flex;
  justify-content: center;
}
.div_result {
  border: 2px solid black;
  margin-top: 3vh;
  height: 15vh;
  width: 15vh;
}
.div_sub{
  background-color: #cc0000;
  height: 10vh;
  display: flex;
  justify-content: left;
}
.div_lamp {
  border-radius: 3vh;
  background-color: black;
  height: 10vh;
  width: 10vh;
}
.div_button {
  border-top: 10px solid #cccccc;
  border-bottom: 10px solid #cccccc;
  background-color: black;
  height: 10vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.div_body2{
  height: 18vh;
}

img{
  width: 100%;
  height: 100%;
}

p {
  padding-left: 5vw;
  padding-top: 3vh;
  color: white;
  font-size: 3em;
}
.p_description {
  font-size: 2em;
}

.button_push{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 100px;
  border: 1px solid #1d1d1d;
  background-color: #fff;
  font-weight: bold;
  font-size: 3em;
  /* transition: transform .05s; */
}

.button_push.pressed {
  transform: scale(0.8);
}
